@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Roboto', sans-serif;
  background-color: #000000;
  color: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
